version: "3"
services:
  server:
    image: node:latest
    volumes:
      - .:/app:cached
    ports:
      - 8081:8081
    working_dir: /app
    command: >
      sh -c "npm install && npm run dev"
  postgres:
    image: postgres:latest
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
